#Ignore the bin and obj directories
**/bin/
**/obj/

#Ignore the .vs directory
.vs/


# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build results
*.log
*.vspscc
*.vssscc
